<div class="aboutInfo">
<p class="title">About</p>
<p class="content">
        A mobile application for students who are enrolled in a university. 
    This application can help students to have access to several different ways of navigating the university systems with ease.
    This will also connect the members of a university all in one application environment.
    Simplifying on and off campus transaction by providing dynamic solutions for every need
</p>
<div class="btn1">
<button class="button" routerLink="services">Features</button>
</div>
<div class="btn2">
    <button class="button" routerLink="founder">Founder</button>
    </div>
</div>
<router-outlet></router-outlet>
